openai:
  api:
    key: ${OPENAI_API_KEY}

groq:
  api-key: ${GROQ_API_KEY}

management:
  endpoints:
    web:
      base-path: /api/actuator
      exposure:
        include:
          - health
          - info
  endpoint:
    health:
      show-details: always