on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - 'docs/**'
      - '.github/**'
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - 'docs/**'
      - '.github/**'
      
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      # REGISTRY: ${{ secrets.DOCKER_REGISTRY_URL }}
      REGISTRY_USER: ${{ secrets.PROD_DOCKER_USERNAME }}
      REGISTRY_PASS: ${{ secrets.PROD_DOCKER_PASSWORD }}
      GROQ_API_KEY: ${{ secrets.GROQ_API_KEY }}
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Cache Gradle
      uses: actions/cache@v3
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: gradle-

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    # ----------- CI: Test -----------
    # - name: Run Tests
      # working-directory: ./
      # env:
        # groq.api-key: ${{ secrets.GROQ_API_KEY }}
        # JWT_SECRET_KEY: ${{ secrets.JWT_SECRET_KEY }}
      # run: ./gradlew test --info

    - name: Build Backend Jar
      # working-directory: ./
      # env:
      #   groq.api-key: ${{ secrets.GROQ_API_KEY }}
      run: ./gradlew clean build -x test

    - name: Docker Login
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.PROD_DOCKER_USERNAME }}
        password: ${{ secrets.PROD_DOCKER_PASSWORD }}
    - name: Build and Push Backend Image
      env:
        IMAGE: ${{ secrets.PROD_DOCKER_USERNAME }}/project-ai-analyzer:latest
      run: |
        docker build -t $IMAGE ./
        docker push $IMAGE
    # ---------------------- 배포 ----------------------
    - name: Deploy to NCloud Servcer
      uses: appleboy/ssh-action@v0.1.8
      with:
        host: ${{ secrets.NCLOUD_SERVER_IP }}
        username: ${{ secrets.NCLOUD_SERVER_USER }}
        key: ${{ secrets.NCLOUD_PRIVATE_KEY }}
        script: |

          cd /home/${{ secrets.NCLOUD_SERVER_USER }}
          
          sudo docker compose -f docker-compose.prod.yml down

          sudo docker pull ${{ secrets.PROD_DOCKER_USERNAME }}/project-ai-analyzer:latest

          sudo docker compose -f docker-compose.prod.yml up -d --force-recreate
    # ---------------------- Smoke Test ----------------------
    - name: Smoke test - Backend health
      run: |
       for i in {1..10}; do
         curl -fsS https://praianalyzer.duckdns.org/api/actuator/health && exit 0
         echo "Backend not ready... retrying"
         sleep 5
       done
       exit 1
